.colorAzul{
    color: blue;
}
.colorCafe{
    color: burlywood
}
.parrafo{
    color: aqua;
    background-color:black ;
}
p{
    color: chocolate;
}
div{
    color: chartreuse;
}
.mangos{
    size: 19px; color: crimson
}
